.container {
  padding: var(--spacing-container-tb) var(--spacing-container-lr);
  text-align: center;
}

.header {
  font-size: 2.5rem;
  font-weight: 600;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Form */
.formInput {
  --form-element-height: 2.5em;

  position: relative;
  height: var(--form-element-height);
  margin-bottom: 0.4rem;
}

.formInput input {
  width: 100%;
  height: 100%;
  padding-left: 40px;
  background: var(--color-accent);
  border: 1px solid var(--color-accent) / 0.6;
  border-radius: var(--radius-md);
}

.formInput input::placeholder {
  color: var(--color-accent-foreground);
  opacity: 0.5;
}

.formInput .icon {
  position: absolute;
  left: 15px;
  height: inherit;
}

.formInput .icon.lock {
  width: 1.1em;
}

.formInput input:focus {
  outline: 1px solid var(--color-accent-foreground);
}

.errorMessage {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-primary);
  text-align: left;
}
