@import "tailwindcss";
@import "./theme.css";

@plugin "tailwindcss-animate";

@utility centered-container {
  min-height: 100%;
  padding-inline: 16px;
  margin-inline: auto;
}

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@utility flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@layer base {
  * {
    border-color: var(--color-border);
  }

  html {
    font-family: "Recursive Variable", var(--system-font-sans-serif);
    color: var(--color-primary);
    color-scheme: light dark;
    background-color: var(--color-neutral-100);

    --system-font-sans-serif:
      -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
      helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial,
      sans-serif;
  }

  html.dark {
    background-color: var(--color-neutral-900);
  }

  html,
  body,
  #root {
    height: 100%;
  }

  h1,
  h2 {
    line-height: 1.1;
  }

  a {
    font-weight: 500;
    color: var(--color-blue-600);
    text-decoration: inherit;
  }

  a:hover,
  a:focus {
    color: var(--color-blue-800);
  }

  button {
    cursor: pointer;
  }
}

/* Placeholder for TipTap Editor */
.tiptap p.is-editor-empty:first-child::before {
  float: left;
  height: 0;
  font-style: italic;
  color: hsl(40 15% 60% / 60);
  pointer-events: none;
  content: attr(data-placeholder);
}

.tiptap.ProseMirror {
  outline: none;
}

@layer component {
  .full-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

  .header-text {
    font-family: var(--font-header);
    font-weight: bold;
    color: var(--color-primary-50);
    text-align: center;
  }

  .background-pattern {
    background-color: hsl(240 53% 93%);
    background-image:
      repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        hsl(240 53% 93%) 10px
      ),
      repeating-linear-gradient(
        var(--color-secondary-700) 55%,
        var(--color-secondary-700)
      );
    opacity: 0.8;
  }
}
