@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: backToBlack;
  src: url("./fonts/back-to-black-bold.ttf");
}

@theme {
  /* Fonts */
  --font-header: "backToBlack";

  /* Colors */
  --color-primary-50: hsl(360 100% 97%);
  --color-primary-100: hsl(360 82% 89%);
  --color-primary-200: hsl(360 77% 78%);
  --color-primary-300: hsl(360 71% 66%);
  --color-primary-400: hsl(360 64% 55%);
  --color-primary-500: hsl(360 67% 44%);
  --color-primary-600: hsl(360 72% 38%);
  --color-primary-700: hsl(360 79% 32%);
  --color-primary-800: hsl(360 85% 25%);
  --color-primary-900: hsl(360 92% 20%);
  --color-primary: var(--color-primary-400);
  --color-primary-foreground: var(--color-primary-50);

  --color-secondary-50: hsl(49 100% 96%);
  --color-secondary-100: hsl(48 100% 88%);
  --color-secondary-200: hsl(48 95% 76%);
  --color-secondary-300: hsl(48 94% 68%);
  --color-secondary-400: hsl(44 92% 63%);
  --color-secondary-500: hsl(42 87% 55%);
  --color-secondary-600: hsl(36 77% 49%);
  --color-secondary-700: hsl(29 80% 44%);
  --color-secondary-800: hsl(22 82% 39%);
  --color-secondary-900: hsl(15 86% 30%);
  --color-secondary: var(--color-secondary-600);
  --color-secondary-foreground: var(--color-secondary-50);

  --color-accent-cyan-50: hsl(186 100% 94%);
  --color-accent-cyan-100: hsl(185 94% 87%);
  --color-accent-cyan-200: hsl(184 80% 74%);
  --color-accent-cyan-300: hsl(184 65% 59%);
  --color-accent-cyan-400: hsl(185 57% 50%);
  --color-accent-cyan-500: hsl(185 62% 45%);
  --color-accent-cyan-600: hsl(184 77% 34%);
  --color-accent-cyan-700: hsl(185 81% 29%);
  --color-accent-cyan-800: hsl(185 84% 25%);
  --color-accent-cyan-900: hsl(185 91% 17%);
  --color-accent-cyan: var(--color-accent-cyan-500);
  --color-accent-cyan-foreground: var(--color-accent-cyan-50);

  --color-accent-lime-50: hsl(83 88% 94%);
  --color-accent-lime-100: hsl(84 77% 86%);
  --color-accent-lime-200: hsl(83 68% 74%);
  --color-accent-lime-300: hsl(83 63% 61%);
  --color-accent-lime-400: hsl(83 55% 52%);
  --color-accent-lime-500: hsl(83 64% 42%);
  --color-accent-lime-600: hsl(84 70% 34%);
  --color-accent-lime-700: hsl(83 74% 27%);
  --color-accent-lime-800: hsl(81 78% 21%);
  --color-accent-lime-900: hsl(81 86% 14%);
  --color-accent-lime: var(--color-accent-lime-500);
  --color-accent-lime-foreground: var(--color-accent-lime-50);

  --color-neutral-50: hsl(40 23% 97%);
  --color-neutral-100: hsl(43 13% 90%);
  --color-neutral-200: hsl(40 15% 80%);
  --color-neutral-300: hsl(39 11% 69%);
  --color-neutral-400: hsl(41 8% 61%);
  --color-neutral-500: hsl(41 8% 48%);
  --color-neutral-600: hsl(41 9% 35%);
  --color-neutral-700: hsl(37 11% 28%);
  --color-neutral-800: hsl(40 13% 23%);
  --color-neutral-900: hsl(42 15% 13%);
  --color-neutral: var(--color-neutral-200);
  --color-neutral-foreground: var(--color-neutral-100);

  --color-background: var(--color-neutral-100);
  --color-foreground: var(--color-neutral-900);
  --color-muted: hsl(240 4.8% 95.9%);
  --color-muted-foreground: hsl(240 3.8% 46.1%);
  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);

  --color-card-50: hsl(0 0% 98%);
  --color-card-100: hsl(240 5% 96%);
  --color-card-200: hsl(240 7% 94%);
  --color-card-300: hsl(240 7% 92%);
  --color-card-400: hsl(240 6% 90%);
  --color-card-500: hsl(240 2% 72%);
  --color-card-600: hsl(240 1% 54%);
  --color-card-700: hsl(240 1% 36%);
  --color-card-800: hsl(0 0% 18%);
  --color-card-foreground: hsl(240 10% 3.9%);
  --color-card: var(--color-card-400);

  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(240 10% 3.9%);

  --color-border: hsl(240 5.9% 90%);
  --color-input: hsl(240 5.9% 90%);
  --ring: hsl(346.8 77.2% 29 0.8%);

  /* Semantic States */
  --color-error: oklch(49.68% 0.18 26.81);
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  /* Spacing */
  --radius-default: 0.5rem;
  --spacing-container-tb: 35px;
  --spacing-container-lr: 50px;

  /* Shadow */
  --shadow-extreme: 2px 2px 4px 2px oklch(0% 0 0 / 0.3);
  --drop-shadow-logo: 0 0 2rem var(--color-primary);
}

@layer base {
  .dark {
    --color-primary-foreground: var(--color-primary-50);
    --color-secondary-foreground: var(--color-secondary-50);
    --color-neutral-foreground: var(--color-neutral-50);
    --color-neutral: var(--color-primary-900);

    --color-background: var(--color-neutral-900);
    --color-foreground: var(--color-neutral-100);
    --color-muted: hsl(0 0% 15%);
    --color-muted-foreground: hsl(240 3.8% 36.1%);
    --color-accent: hsl(12 6.5% 15.1%);
    --color-accent-foreground: hsl(0 0% 98%);

    --color-card: hsl(40 5% 25%);
    --color-card-foreground: hsl(0 0% 90%);
    --color-popover: hsl(0 0% 9%);
    --color-popover-foreground: hsl(0 0% 95%);

    --color-border: hsl(240 3.7% 15.9%);
    --color-input: hsl(240 3.7% 15.9%);
    --ring: hsl(346.8 77.2% 89.8%);

    --color-destructive: hsl(0 62.8% 30.6%);
    --color-destructive-foreground: hsl(0 85.7% 97.3%);
  }
}
